.container {
    width: 360px;
    margin: 20px auto;
    padding: 15px;
    background-color: #efefef;
    text-align: center;
}

.btn {
    width: 220px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    background-color: red;
    color: #fff;
    font: 24px;
    font-weight: bold;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
}

p {
    margin: 30px 0px;
}

.resalts {
    font-size: 28px;
    font-weight: bold;
}